<div class="row">
  <aside class="col-md-4">
    <section class="community">
      <h1>
        <%= render @community %>
      </h1>
      <%= link_to "Join this community!", community_join_path %>
    </section>
    <% if @community.questions %>
      <section class="questions">
        <%= render @community.questions %>
      </section>
    <% else %>
      <body>
        <p>
            Check back for questions related to this community!
        </p>
      </body>
    <% end %>
    <section class="community_users">
      <%= render @users %>
    </section>
    <section class="question_form">
      <%= render 'shared/question_form' %>
    </section>
  </aside>
</div>
