<!DOCTYPE html>
<html> 
  <head>
    <title> <%= "Indra's Net" %> </title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head> 
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse"> 
      <div class="container">
        <nav>
          <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <ul class="nav navbar-nav navbar-right"> 
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Home", root_path %></li> 
              <li><%= link_to "Help", help_path %></li> 
              <li><%= link_to "Mission", mission_path %></li> 
            <% else %>
              <li><%= link_to "Home", root_path %></li> 
              <li><%= link_to "Help", help_path %></li> 
              <li><%= link_to "Mission", mission_path %></li> 
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
          </ul>   
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %> 
    </div>
  </body> 
</html>